.covid-news {
    background-color:honeydew;
}
.covid-information {
    color: brown;
}
.maska-picture {
    background-color: chartreuse;
}
.covid-19 {
    color: deeppink;
}
.covid-status{
    color: gold;
}
.covid-umerli-photo{
    background-color: lightseagreen;
}
.covid-umerli{
    color: olivedrab;
}
.covid-smaylik{
    background-color: red;
}
